USE [retail_company]
GO
/****** Object:  Table [dbo].[task_2_products]    Script Date: 8/16/2025 10:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_2_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](50) NULL,
	[price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_task_2_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_2_sales]    Script Date: 8/16/2025 10:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_2_sales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[sale_date] [date] NULL,
 CONSTRAINT [PK_task_2_sales] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task_2_topSellers]    Script Date: 8/16/2025 10:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task_2_topSellers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[total_quantity] [int] NULL,
	[rank] [int] NULL,
	[loggedAt] [datetime] NULL,
 CONSTRAINT [PK_task_2_topSellers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[task_2_sales]  WITH CHECK ADD  CONSTRAINT [FK_task_2_sales_task_2_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[task_2_products] ([id])
GO
ALTER TABLE [dbo].[task_2_sales] CHECK CONSTRAINT [FK_task_2_sales_task_2_products]
GO
ALTER TABLE [dbo].[task_2_topSellers]  WITH CHECK ADD  CONSTRAINT [FK_task_2_topSellers_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[task_2_topSellers] CHECK CONSTRAINT [FK_task_2_topSellers_products]
GO
/****** Object:  StoredProcedure [dbo].[proc_get_sold_products]    Script Date: 8/16/2025 10:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_get_sold_products]
AS
BEGIN
    DECLARE @MonthStart DATE = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
    DECLARE @MonthEnd DATE = EOMONTH(@MonthStart);
    DECLARE @TopN INT = 5;

    BEGIN TRY
        BEGIN TRANSACTION;
            WITH MonthlySales AS (
                SELECT 
                    s.ProductID,
                    SUM(s.Quantity) AS TotalQuantity
                FROM Sales s
                WHERE s.SaleDate BETWEEN @MonthStart AND @MonthEnd

                GROUP BY s.ProductID
            ),
            RankedSales AS (
                SELECT 
                    ms.ProductID,
                    ms.TotalQuantity,
                    RANK() OVER (ORDER BY ms.TotalQuantity DESC) AS Rank
                FROM MonthlySales ms
            )
            INSERT INTO TopSellersLog (ProductID, TotalQuantity, Rank)
            SELECT TOP (@TopN)
                rs.ProductID,
                rs.TotalQuantity,
                rs.Rank
            FROM RankedSales rs
            ORDER BY rs.Rank;
        ;

        COMMIT;
        PRINT 'Top sellers logged successfully.';

    END TRY
    BEGIN CATCH
        ROLLBACK;
        PRINT 'Error: ' + ERROR_MESSAGE();
    END CATCH
END;


GO
/****** Object:  StoredProcedure [dbo].[proc_InsertProduct]    Script Date: 8/16/2025 10:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_InsertProduct]
    @ProductName NVARCHAR(100),
    @Price DECIMAL(10,2)
AS
BEGIN
    INSERT INTO dbo.task_2_products (product_name, price)
    VALUES (@ProductName, @Price);
END;

GO
/****** Object:  StoredProcedure [dbo].[proc_InsertSale]    Script Date: 8/16/2025 10:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_InsertSale]
    @ProductID INT,
    @Quantity INT,
    @SaleDate DATE
AS
BEGIN
    INSERT INTO dbo.task_2_sales (product_id, quantity, sale_Date)
    VALUES (@ProductID, @Quantity, @SaleDate);
END;

GO
/****** Object:  StoredProcedure [dbo].[proc_InsertTopSellerLog]    Script Date: 8/16/2025 10:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_InsertTopSellerLog]
    @ProductID INT,
    @TotalQuantity INT,
    @Rank INT
AS
BEGIN
    INSERT INTO dbo.task_2_topSellers (product_id, total_quantity, rank)
    VALUES (@ProductID, @TotalQuantity, @Rank);
END;

GO
